###########################
# Windows / OS junk files
###########################
[Tt]humbs.db
*.DS_Store

###########################
# Development Dependencies
###########################

bower_components
node_modules