// Checkbox
// 
// A checkbox visually indicates the status of a user's selection
//
// .large - A checkbox can be a large size
// .huge - A checkbox can be a huge size
//
// Markup:
// <div class="ui {$modifiers} checkbox">
//   <input type="checkbox">
//   <label>Poodle</label>
// </div>
//
// Styleguide 5.2

// Slider Checkbox
// 
// A checkbox can be formatted to show user selection as a slider
//
// Markup:
// <div class="ui slider checkbox">
//   <input type="checkbox" name="walk">
//   <label>Allow others to see when your dog is on a walk</label>
// </div>
//
// Styleguide 5.2.1

// Toggle Checkbox
// 
// A checkbox can be formatted to show user selection as a toggle
//
// Markup:
// <div class="ui toggle checkbox">
//   <input type="checkbox" name="pet">
//   <label>Allow other people to pet my dog</label>
// </div>
//
// Styleguide 5.2.2

// Radio Buttons
// 
// A checkbox can be formatted as a radio element. This means it is an exclusive option.
//
// Markup:
// <div class="ui form">
//   <div class="grouped inline fields">
//     <div class="field">
//       <div class="ui radio checkbox">
//         <input type="radio" name="fruit" checked="checked">
//         <label>Apples</label>
//       </div>
//     </div>
//     <div class="field">
//       <div class="ui radio checkbox">
//         <input type="radio" name="fruit">
//         <label>Oranges</label>
//       </div>
//     </div>
//     <div class="field">
//       <div class="ui radio checkbox">
//         <input type="radio" name="fruit">
//         <label>Pears</label>
//       </div>
//     </div>
//     <div class="field">
//       <div class="ui radio checkbox">
//         <input type="radio" name="fruit">
//         <label>Grapefruit</label>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.2.3

// Using Buttons to Toggle Checkbox State
// 
// Description
//
// Markup:
// <div class="ui buttons">
//   <div class="ui enablethem button">Enable</div>
//   <div class="ui disablethem button">Disable</div>
//   <div class="ui togglethem button">Toggle</div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
// <div class="ui slider checkbox" style="display: inline-block;">
//   <input type="checkbox">
//   <div class="box"></div>
// </div>
//
// Styleguide 5.2.4
