// Dropdown
// 
// A dropdown is a hidden list of selections that a user can choose to have appear
//
// Markup:
// <div class="ui dropdown">
//   <div class="text">Select</div>
//   <i class="dropdown icon"></i>
//   <div class="menu">
//     <div class="item" data-value="option1">Option 1</div>
//     <div class="item" data-value="option2">Option 2</div>
//   </div>
// </div>
//
// Styleguide 5.5

// Inline Dropdowns
// 
// A dropdown can be formatted to appear inline in other content
//
// Markup:
// <div>Show me posts trending
//   <div class="ui inline dropdown">
//     <div class="text">today</div>
//     <i class="dropdown icon"></i>
//     <div class="menu">
//       <div class="item active" data-text="today">Today</div>
//       <div class="item" data-text="this week">This Week</div>
//       <div class="item" data-text="this month">This Month</div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.1

// Select Dropdowns
// 
// A dropdown can be formatted to allow selection of a menu choice.
//
// Markup:
// <div class="ui selection dropdown">
//   <input type="hidden" name="gender">
//   <div class="default text">Gender</div>
//   <i class="dropdown icon"></i>
//   <div class="menu">
//     <div class="item" data-value="male">Male</div>
//     <div class="item" data-value="female">Female</div>
//   </div>
// </div>
//
// Styleguide 5.5.2

// Floating Dropdowns
// 
// A dropdown menu can appear to be floating below an element.
//
// Markup:
// <div class="ui teal buttons">
//   <div class="ui button">Save</div>
//   <div class="ui teal floating dropdown icon button">
//     <i class="dropdown icon"></i>
//     <div class="menu">
//       <div class="item"><i class="edit icon"></i>Edit Post</div>
//       <div class="item"><i class="delete icon"></i>Remove Post</div>
//       <div class="item"><i class="hide icon"></i>Hide Post</div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.3

// Pointing Dropdowns
// 
// A dropdown menu can be formatted to point to its content
//
// Markup:
// <div class="ui compact menu">
//   <div class="menu">
//     <a class="active item">
//       <i class="home icon"></i> Home
//     </a>
//     <div class="ui pointing dropdown link item">
//       <i class="icon mail"></i> Messages <i class="dropdown icon"></i>
//       <div class="menu">
//         <a class="item"><i class="mail icon"></i>Inbox</a>
//         <a class="item"><i class="book icon"></i>Archive</a>
//       </div>
//     </div>
//     <a class="item">
//       <i class="user icon"></i> Browse
//     </a>
//     <a class="item">
//       <i class="question icon"></i> Help
//     </a>
//   </div>
// </div>
// <div class="ui blue labeled icon top left pointing dropdown button">
//   <i class="settings icon"></i>
//   <span class="text">Settings</span>
//   <div class="menu">
//     <div class="item"><i class="edit icon"></i>Edit</div>
//     <div class="item"><i class="delete icon"></i>Remove</div>
//     <div class="item"><i class="hide icon"></i>Hide</div>
//   </div>
// </div>
// <div class="ui red labeled icon top right pointing dropdown button">
//   <i class="settings icon"></i>
//   <span class="text">Settings</span>
//   <div class="menu">
//     <div class="item"><i class="edit icon"></i>Edit</div>
//     <div class="item"><i class="delete icon"></i>Remove</div>
//     <div class="item"><i class="hide icon"></i>Hide</div>
//   </div>
// </div>
// <div class="ui teal right pointing dropdown icon button">
//   <i class="settings icon"></i>
//   <div class="menu">
//     <div class="item"><i class="edit icon"></i>Edit</div>
//     <div class="item"><i class="delete icon"></i>Remove</div>
//     <div class="item"><i class="hide icon"></i>Hide</div>
//   </div>
// </div>
// <div class="ui green left pointing dropdown icon button">
//   <i class="settings icon"></i>
//   <div class="menu">
//     <div class="item"><i class="edit icon"></i>Edit</div>
//     <div class="item"><i class="delete icon"></i>Remove</div>
//     <div class="item"><i class="hide icon"></i>Hide</div>
//   </div>
// </div>
//
// Styleguide 5.5.4

// Simple Dropdowns
// 
// A simple dropdown can open without javascript
//
// Markup:
// <div class="ui compact menu">
//   <div class="ui simple dropdown item">
//     Dropdown <i class="dropdown icon"></i>
//     <div class="menu">
//       <div class="item">Choice 1</div>
//       <div class="item">Choice 2</div>
//       <div class="item">Choice 3</div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.5

// Preselected Dropdown Menu Items
// 
// A dropdown will automatically select on page load any menu item that includes the currently value of text or your dropdown's hidden input value. This is used to preserve a user's selection on page navigation and will automatically remove and default text placeholder formatting.
//
// Markup:
// <div class="ui inline dropdown">
//   <div class="text">Remove</div>
//   <i class="dropdown icon"></i>
//   <div class="menu">
//     <div class="item">Edit</div>
//     <div class="item active">Remove</div>
//     <div class="item">Hide</div>
//   </div>
// </div>
//
// Styleguide 5.5.6

// Button Group Dropdowns
// 
// A button group can be formatted to show additional content as a dropdown
//
// Markup:
// <div class="ui red icon buttons">
//   <div class="ui top left pointing dropdown button">
//     <i class="user icon"></i>
//     <div class="menu">
//       <div class="item"><i class="edit icon"></i>Edit User</div>
//       <div class="item"><i class="delete icon"></i>Remove User</div>
//       <div class="item"><i class="hide icon"></i>Make Invisible</div>
//     </div>
//   </div>
//   <div class="ui top left pointing dropdown button">
//     <i class="users icon"></i>
//     <div class="menu">
//       <div class="item"><i class="edit icon"></i>Edit Group</div>
//       <div class="item"><i class="delete icon"></i>Remove Group</div>
//       <div class="item"><i class="hide icon"></i>Hide from Group</div>
//     </div>
//   </div>
//   <div class="ui top right pointing dropdown button">
//     <i class="settings icon"></i>
//     <div class="menu">
//       <div class="item"><i class="edit icon"></i>Edit</div>
//       <div class="item"><i class="delete icon"></i>Remove</div>
//       <div class="item"><i class="hide icon"></i>Hide</div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.7

// Combo Button Dropdowns
// 
// A button can be formatted with a dropdown
//
// Markup:
// <div class="ui teal buttons">
//   <div class="ui button">Update Post</div>
//   <div class="ui teal dropdown icon button">
//     <i class="dropdown icon"></i>
//     <div class="menu">
//       <div class="item"><i class="edit icon"></i>Edit Post</div>
//       <div class="item"><i class="delete icon"></i>Remove Post</div>
//       <div class="item"><i class="hide icon"></i>Hide Post</div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.8

// Nested Dropdowns
// 
// A dropdown menu can also contain sub menus inside of it
//
// Markup:
// <div class="ui inline dropdown">
//   <input type="hidden" name="gender">
//   <div class="text">Shiba Inu</div>
//   <i class="dropdown icon"></i>
//   <div class="menu">
//     <div class="item">
//       <i class="dropdown icon"></i>
//       Dogs
//       <div class="menu">
//         <div class="item active">Shiba Inu</div>
//         <div class="item">Poodle</div>
//         <div class="item">Labrador</div>
//       </div>
//     </div>
//     <div class="item">
//       <i class="dropdown icon"></i>
//       Cats
//       <div class="menu">
//         <div class="item">Aegean</div>
//         <div class="item">Balinese</div>
//         <div class="item">Persian</div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.9

// Menu Dropdowns
// 
// A menu element can contain a dropdown
//
// Markup:
// <div class="ui compact tiered purple inverted menu">
//   <div class="menu">
//     <a class="active item">
//       <i class="icon home"></i> Home
//     </a>
//     <a class="ui dropdown item">
//       <i class="icon mail"></i> Messages <i class="dropdown icon"></i>
//       <div class="menu">
//         <div class="item">
//           <i class="mail icon"></i>Categories
//           <div class="menu">
//             <div class="item">Unread</div>
//             <div class="item">Promotions</div>
//             <div class="item">Updates</div>
//           </div>
//         </div>
//         <div class="item"><i class="book icon"></i>Archive</div>
//       </div>
//     </a>
//     <a class="item">
//       <i class="user icon"></i> Browse
//     </a>
//   </div>
//   <div class="sub menu">
//     <a class="item">Activity Feed</a>
//     <a class="item">Profile</a>
//     <a class="item">Events</a>
//   </div>
// </div>
//
// Styleguide 5.5.10

// Form Dropdowns
// 
// A dropdown can be formatted to allow selection inside a form
//
// Markup:
// <div class="ui form segment">
//   <p>Let's go ahead and get you signed up.</p>
//   <div class="two fields">
//     <div class="field">
//       <label>First Name</label>
//       <input placeholder="First Name" type="text">
//     </div>
//     <div class="field">
//       <label>Last Name</label>
//       <input placeholder="Last Name" type="text">
//     </div>
//   </div>
//   <div class="field">
//     <label>Gender</label>
//     <div class="ui dropdown selection">
//       <input type="hidden" name="gender">
//       <div class="default text">...</div>
//       <i class="dropdown icon"></i>
//       <div class="menu">
//         <div class="item" data-value="male">Male</div>
//         <div class="item" data-value="female">Female</div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.11

// Dropdown Transitions
// 
// A dropdown can have different transitions.
//
// Markup:
// <div class="ui teal buttons">
//   <div class="ui button">Toggle</div>
//   <div class="ui teal floating transitionsexample dropdown icon button">
//     <i class="dropdown icon"></i>
//     <div class="menu">
//       <div class="item" data-value="horizontal flip">Horizontal Flip</div>
//       <div class="item" data-value="fade up">Fade Up</div>
//       <div class="item" data-value="scale">Scale</div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.12

// Fluid Dropdowns
// 
// A dropdown can take the full width of its parent
//
// Markup:
// <div class="ui vertical menu">
//   <a class="item">Link 1</a>
//   <a class="item">Link 2</a>
//   <div class="header item">All Sections</div>
//   <div class="ui item">
//     <div class="ui fluid selection dropdown">
//       <div class="text">More</div>
//       <i class="dropdown icon"></i>
//       <div class="menu">
//         <div class="item">Choice 1</div>
//         <div class="item">Choice 2</div>
//         <div class="item">Choice 3</div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 5.5.13