// Popup
// 
// A popup displays additional information on top of a page element
//
// .small - A popup can be small
// .large - A popup can be large
// .inverted - A popup can have its colors inverted
//
// Markup:
// <i class="heart circular icon link" data-content="Hello, I am a pop-up." data-variation="{$modifiers}"></i>
// <div class="ignored ui {$modifiers} popup transition top center hidden">
// 	<div class="content">Hello, I am a pop-up.</div>
// </div>
//
// Styleguide 5.8

// Positioned Popups
// 
// A popup can be positioned to any side of an element. If space is not available, it will automatically search for a similar alternative position to use.
//
// .top.left - Top Left
// .top.center - Top Centre
// .top.right - Top Right
// .right.center - Right Centre
// .bottom.right - Bottom Right
// .bottom.center - Bottom Centre
// .bottom.left - Bottom Left
// .left.center - Left Centre
//
// Markup:
// <i class="heart circular small icon link" data-content="Pop-up." data-position="{$modifiers}"></i>
//
// Styleguide 5.8.1

// Popups with Titles
// 
// A popup can be formatted with a title
//
// Markup:
// <i class="circular heart icon link" data-title="Dog Breeds" data-content="There are many types of dogs. We don't have time to list them all"></i>
//
// Styleguide 5.8.2

// Popups with HTML
// 
// A popup can be formatted with html
//
// Markup:
// <i class="circular heart icon link" data-html="<strike>I rescind my comment about cats<strike>"></i>
//
// Styleguide 5.8.3