// Reveal
// 
// A reveal is an element that shows different content below it when hovered. Note: A reveal will take no action unless a type of reveal is specified.
//
// .fade - Fade reveal
// .move - Move reveal
// .move.right - Move right reveal
// .move.up - Move up reveal
// .move.down - Move down reveal
// .rotate - Rotate reveal
// .rotate.left - Rotate left reveal
// .disabled - A disabled reveal will not animate when hovered
//
// Markup:
// <div class="ui {$modifiers} reveal circular image">
//   <img class="visible content" src="http://placehold.it/200x200/000000">
//   <img class="hidden content" src="http://placehold.it/200x200/65c3df">
// </div>
//
// Styleguide 5.10

// Reveal Variations
// 
// Reveal elements can vary in subtle ways...
//
// .masked - An element can mask its content so that an element does not escape its parent
// .instant - An element can show its content without delay
//
// Markup:
// <div class="ui {$modifiers} move reveal">
//   <img class="visible content" src="http://placehold.it/200x200/000000">
//   <img class="hidden content" src="http://placehold.it/200x200/65c3df">
// </div>
//
// Styleguide 5.10.1