// Shape
// 
// A shape is a three dimensional object displayed on a two dimensional plane. The module uses 3D transformations which are currently only supported in modern versions of Chrome, Safari, and Firefox.
// 
// Markup:
// <div class="demo ui shape square">
//   <div class="sides">
//     <div class="jira side active">
//       <img src="http://placehold.it/200/45b7af/ffffff">
//     </div>
//     <div class="heroku side">
//       <img src="http://placehold.it/200/a48ad4/ffffff">
//     </div>
//     <div class="quirky side">
//       <img src="http://placehold.it/200/65c3df/ffffff">
//     </div>
//   </div>
// </div>
// <h3 class="ui header">Animations:</div>
// <div class="ui direction buttons">
//   <div class="ui button" data-animation="flip" data-direction="left">Left</div>
//   <div class="ui button" data-animation="flip" data-direction="right">Right</div>
//   <div class="ui button" data-animation="flip" data-direction="up">Up</div>
//   <div class="ui button" data-animation="flip" data-direction="down">Down</div>
//   <div class="ui button" data-animation="flip" data-direction="over">Over</div>
//   <div class="ui button" data-animation="flip" data-direction="back">Back</div>
// </div>
//
// Styleguide 5.10

// Rectangular Shape
// 
// Shapes can be rectangular.
// 
// Markup:
// <div class="demo ui shape rectangle">
//   <div class="sides">
//     <div class="jira side active">
//       <img src="http://placehold.it/300x100/45b7af/ffffff">
//     </div>
//     <div class="heroku side">
//       <img src="http://placehold.it/300x100/a48ad4/ffffff">
//     </div>
//     <div class="quirky side">
//       <img src="http://placehold.it/300x100/65c3df/ffffff">
//     </div>
//   </div>
// </div>
// <h3 class="ui header">Animations:</div>
// <div class="ui direction buttons">
//   <div class="ui button" data-animation="flip" data-direction="left">Left</div>
//   <div class="ui button" data-animation="flip" data-direction="right">Right</div>
//   <div class="ui button" data-animation="flip" data-direction="up">Up</div>
//   <div class="ui button" data-animation="flip" data-direction="down">Down</div>
//   <div class="ui button" data-animation="flip" data-direction="over">Over</div>
//   <div class="ui button" data-animation="flip" data-direction="back">Back</div>
// </div>
//
// Styleguide 5.10.1

// Irregular Shape
// 
// Shapes can have different sized sides.
// 
// Markup:
// <div class="demo ui shape irregular">
//   <div class="sides">
//     <div class="jira side active">
//       <img src="http://placehold.it/200x100/45b7af/ffffff">
//     </div>
//     <div class="heroku side">
//       <img src="http://placehold.it/300x300/a48ad4/ffffff">
//     </div>
//     <div class="quirky side">
//       <img src="http://placehold.it/100x300/65c3df/ffffff">
//     </div>
//   </div>
// </div>
// <h3 class="ui header">Animations:</div>
// <div class="ui direction buttons">
//   <div class="ui button" data-animation="flip" data-direction="left">Left</div>
//   <div class="ui button" data-animation="flip" data-direction="right">Right</div>
//   <div class="ui button" data-animation="flip" data-direction="up">Up</div>
//   <div class="ui button" data-animation="flip" data-direction="down">Down</div>
//   <div class="ui button" data-animation="flip" data-direction="over">Over</div>
//   <div class="ui button" data-animation="flip" data-direction="back">Back</div>
// </div>
//
// Styleguide 5.10.2

// Shape with Content
// 
// Any content may be contained within a shape.
//
// Markup:
// <div class="dog ui shape">
//   <div class="sides">
//     <div class="active side">
//       <div class="ui items">
//         <div class="item">
//           <div class="image">
//             <a class="ui like corner label">
//               <i class="like icon"></i>
//             </a>
//             <img src="http://placehold.it/200/45b7af/ffffff">
//           </div>
//           <div class="content">
//             <div class="name">Cute Dog</div>
//             <p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
//           </div>
//         </div>
//       </div>
//     </div>
//     <div class="side">
//       <div class="ui items">
//         <div class="item">
//           <div class="image">
//             <a class="ui like corner label">
//               <i class="like icon"></i>
//             </a>
//             <img src="http://placehold.it/200/a48ad4/ffffff">
//           </div>
//           <div class="content">
//             <div class="name">Silly Dog</div>
//             <p class="description">Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.</p>
//           </div>
//         </div>
//       </div>
//     </div>
//     <div class="side">
//       <div class="ui items">
//         <div class="item">
//           <div class="image">
//             <a class="ui like corner label">
//               <i class="like icon"></i>
//             </a>
//             <img src="http://placehold.it/200/65c3df/ffffff">
//           </div>
//           <div class="content">
//             <div class="meta">5 days ago</div>
//             <div class="name">Faithful Dog</div>
//             <p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.</p>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
// <div class="dog ui shape">
//   <div class="sides">
//     <div class="active side">
//       <div class="ui items">
//         <div class="item">
//           <div class="image">
//             <a class="ui like corner label">
//               <i class="like icon"></i>
//             </a>
//             <img src="http://placehold.it/200/45b7af/ffffff">
//           </div>
//           <div class="content">
//             <div class="name">Cute Dog</div>
//             <p class="description">This dog has some things going for it. Its pretty cute and looks like it'd be fun to cuddle up with.</p>
//           </div>
//         </div>
//       </div>
//     </div>
//     <div class="side">
//       <div class="ui items">
//         <div class="item">
//           <div class="image">
//             <a class="ui like corner label">
//               <i class="like icon"></i>
//             </a>
//             <img src="http://placehold.it/200/a48ad4/ffffff">
//           </div>
//           <div class="content">
//             <div class="name">Silly Dog</div>
//             <p class="description">Silly dogs can be quite fun to have as companions. You never know what kind of ridiculous thing they will do.</p>
//           </div>
//         </div>
//       </div>
//     </div>
//     <div class="side">
//       <div class="ui items">
//         <div class="item">
//           <div class="image">
//             <a class="ui like corner label">
//               <i class="like icon"></i>
//             </a>
//             <img src="http://placehold.it/200/65c3df/ffffff">
//           </div>
//           <div class="content">
//             <div class="meta">5 days ago</div>
//             <div class="name">Faithful Dog</div>
//             <p class="description">Sometimes its more important to have a dog you know you can trust. But not every dog is trustworthy, you can tell by looking at its smile.</p>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
// <div class="ui direction buttons">
//   <div class="ui button" data-animation="flip" data-direction="left">Left</div>
//   <div class="ui button" data-animation="flip" data-direction="right">Right</div>
//   <div class="ui button" data-animation="flip" data-direction="up">Up</div>
//   <div class="ui button" data-animation="flip" data-direction="down">Down</div>
//   <div class="ui button" data-animation="flip" data-direction="over">Over</div>
//   <div class="ui button" data-animation="flip" data-direction="back">Back</div>
// </div>
//
// Styleguide 5.10.3