// Transition
// 
// A transition is an animation usually used to move content in or out 
//
// Markup:
// <img style="width:100px;height:100px;background:#f05940;" class="transitionelement">
// <div class="ui buttons">
// 	<div class="ui testtransition button" data-transition="scale">scale</div>
// 	<div class="ui testtransition button" data-transition="fade">fade</div>
// 	<div class="ui testtransition button" data-transition="horizontal flip">horizontal flip</div>
// 	<div class="ui testtransition button" data-transition="vertical flip">vertical flip</div>
// 	<div class="ui testtransition button" data-transition="pulse">pulse</div>
// 	<div class="ui testtransition button" data-transition="bounce">bounce</div>
// 	<div class="ui testtransition button" data-transition="flash">flash</div>
// 	<div class="ui testtransition button" data-transition="shake">shake</div>
// 	<div class="ui testtransition button" data-transition="tada">tada</div>
// 	<div class="ui testtransition button" data-transition="slide up">slide up</div>
// 	<div class="ui testtransition button" data-transition="slide down">slide down</div>
// 	<div class="ui testtransition button" data-transition="start loop">start loop</div>
// 	<div class="ui testtransition button" data-transition="stop loop">stop loop</div>
// 	<div class="ui testtransition button" data-transition="flip then scale">flip then scale</div>
// 	<div class="ui testtransition button" data-transition="callback">callback</div>
// </div>
//
// Styleguide 5.12
