//------------------------------------
//  $APP
//------------------------------------

// This is the root stylesheet, used only for importing
// other style modules. No styles should be specified in
// this file!

// You can view the living styleguide at /styleguide

// Base
//
// Settings for the front-end framework
// 
// Styleguide 1.0

@import						"base/animations"
@import						"base/colours"
@import						"base/layout"
@import						"base/typography"
@import						"base/generic"

// Elements
// 
// Base HTML Element styles
// 
// Styleguide 2.0

@import						"elements/button"
@import						"elements/divider"
@import						"elements/dropbox"
@import						"elements/header"
@import						"elements/icon"
@import						"elements/image"
@import						"elements/input"
@import						"elements/label"
@import						"elements/loader"
@import						"elements/progress"
@import						"elements/segment"
@import						"elements/step"

// Collections
// 
// Components made up of base elements
// 
// Styleguide 3.0

@import						"collections/breadcrumb"
@import						"collections/date-picker"
@import						"collections/footer"
@import						"collections/form"
@import						"collections/grid"
@import						"collections/masthead"
@import						"collections/menu"
@import						"collections/message"
@import						"collections/multiselect"
@import						"collections/table"

// Views
// 
// Components made up of combinations of base elements and collections.
// 
// Styleguide 4.0

@import						"views/comment"
@import						"views/feed"
@import						"views/item"
@import						"views/list"

// Modules
// 
// Components made up of combinations of views and collections.
// 
// Styleguide 5.0

@import						"modules/accordion"
@import						"modules/checkbox"
@import						"modules/chosen"
@import						"modules/dimmer"
@import						"modules/dropdown"
@import						"modules/editinplace"
@import						"modules/modal"
@import						"modules/popup"
@import						"modules/rating"
@import						"modules/reveal"
@import						"modules/shape"
@import						"modules/sidebar"
@import						"modules/transition"

// Templates
// 
// Styles specific to page templates
//
// Styleguide 6.0

@import 					"templates/profile"
@import 					"templates/project"
@import 					"templates/welcome"