// Project Template
// 
// Styles for project pages
//
// Styleguide 6.2

.ui.selection.list

	.item
		position 					relative

		> .icon + .content
			vertical-align 			middle

		&.active
			color 						$teal

	.right.floated.slider.checkbox
		margin-top 					-0.8em
		position 					absolute
		right 						0.5* $base-spacing-unit
		top 						50%