extends layouts/default

block content
	.ui.page.grid.top.margin
		.column
			.ui.huge.info.attached.icon.message
				i.frown.icon
				.content
					.header
						| Whoops! 
						span= status 
						|  error

			if (typeof error !== 'undefined')
				.ui.attached.segment
					pre
						code!= url + ' : ' + error