.masthead.segment(data-ng-controller="IndexController")
	.ui.page.grid
		.column
			.introduction
				h1.ui.header iProfero Dashboard
					div.sub.header Agency Management Toolset
				a.ui.black.large.labeled.launch.icon.button(href="signin", target="_self")
					i.sign.in.icon
					| Get Started