.teal.masthead.segment(data-ng-controller="IndexController")
	.ui.page.grid
		.column
			.introduction
				h1.ui.header iProfero
					.sub.header Agency Management Toolset
				a.ui.black.large.labeled.icon.button(href="signin", target="_self")
					i.sign.in.icon
					| Get Started