// Comment
// 
// A comment view is used to display lists of user feedback to site content
//
// Markup:
// <div class="ui two column grid">
//   <div class="column">
//     <div class="ui piled blue segment">
//       <h2 class="ui header">
//         <i class="icon inverted circular blue comment"></i> Comments
//       </h2>
//       <div class="ui comments">
//         <div class="comment">
//           <a class="avatar">
//             <img src="http://placehold.it/200x200">
//           </a>
//           <div class="content">
//             <a class="author">Dog Doggington</a>
//             <div class="metadata">
//               <span class="date">2 days ago</span>
//             </div>
//             <div class="text">
//               I think this is a great idea and i am voting on it
//             </div>
//             <div class="actions">
//               <a class="reply">Reply</a>
//               <a class="delete">Delete</a>
//             </div>
//           </div>
//         </div>
//         <div class="comment">
//           <a class="avatar">
//             <img src="http://placehold.it/200x200">
//           </a>
//           <div class="content">
//             <a class="author">Pawfin Dog</a>
//             <div class="metadata">
//               <span class="date">2 days ago</span>
//             </div>
//             <div class="text">
//               I think this is a great idea and i am voting on it
//             </div>
//             <div class="actions">
//               <a class="reply">Reply</a>
//               <a class="delete">Delete</a>
//             </div>
//           </div>
//         </div>
//         <div class="comment">
//           <a class="avatar">
//             <img src="http://placehold.it/200x200">
//           </a>
//           <div class="content">
//             <a class="author">Dog Doggington</a>
//             <div class="metadata">
//               <span class="date">2 days ago</span>
//             </div>
//             <div class="text">
//               I think this is a great idea and i am voting on it
//             </div>
//             <div class="actions">
//               <a class="reply">Reply</a>
//               <a class="delete">Delete</a>
//             </div>
//           </div>
//         </div>
//         <form class="ui reply form">
//           <div class="field">
//             <textarea></textarea>
//           </div>
//           <div class="ui fluid blue labeled submit icon button">
//             <i class="icon edit"></i> Add Reply
//           </div>
//         </form>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1

// Basic Single Comment
// 
// A comment can contain an image or avatar
//
// Markup:
// <div class="ui comments">
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1.1

// Comment with Metadata
// 
// A comment can contain metadata about the comment, an arbitrary amount of metadata may be defined.
//
// Markup:
// <div class="ui comments">
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <div class="date">2 days ago</div>
//         <div class="stars">
//           <i class="icon star"></i>
//           <i class="icon star"></i>
//           <i class="icon star"></i>
//           <i class="icon empty star"></i>
//           <i class="icon empty star"></i>
//         </div>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1.2

// Comment with Actions
// 
// A comment can contain an list of actions a user may perform related to this comment.
//
// Markup:
// <div class="ui comments">
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <div class="date">2 days ago</div>
//         <div class="stars">
//           <i class="icon star"></i>
//           <i class="icon star"></i>
//           <i class="icon star"></i>
//           <i class="icon empty star"></i>
//           <i class="icon empty star"></i>
//         </div>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//         <a class="delete">Delete</a>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1.3

// Comment with a Reply Form
// 
// A comment can contain a form to reply to a comment. This may have arbitrary content.
//
// Markup:
// <div class="ui comments">
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <div class="date">2 days ago</div>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply active">Reply</a>
//         <a class="delete">Delete</a>
//       </div>
//       <form class="ui reply form">
//         <div class="field">
//           <textarea></textarea>
//         </div>
//         <div class="ui button teal submit labeled icon">
//           <i class="icon edit"></i> Add Reply
//         </div>
//       </form>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1.4

// Threaded Comment List
// 
// A comment list can be threaded to showing the relationship between conversations
//
// Markup:
// <div class="ui threaded comments">
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <span class="date">2 days ago</span>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//         <a class="delete">Delete</a>
//       </div>
//     </div>
//     <div class="comments">
//       <div class="comment">
//         <a class="avatar">
//           <img src="http://placehold.it/200x200">
//         </a>
//         <div class="content">
//           <a class="author">Pawfin Dog</a>
//           <div class="metadata">
//             <span class="date">1 day ago</span>
//           </div>
//           <div class="text">
//             I think this is a great idea and i am voting on it
//           </div>
//           <div class="actions">
//             <a class="reply">Reply</a>
//             <a class="delete">Delete</a>
//           </div>
//         </div>
//         <div class="comments">
//           <div class="comment">
//             <a class="avatar">
//               <img src="http://placehold.it/200x200">
//             </a>
//             <div class="content">
//               <a class="author">Dog Doggington</a>
//               <div class="metadata">
//                 <span class="date">20 minutes ago</span>
//               </div>
//               <div class="text">
//                 I think this is a great idea and i am voting on it
//               </div>
//               <div class="actions">
//                 <a class="reply">Reply</a>
//                 <a class="delete">Delete</a>
//               </div>
//             </div>
//           </div>
//           <div class="comment">
//             <a class="avatar">
//               <img src="http://placehold.it/200x200">
//             </a>
//             <div class="content">
//               <a class="author">Dog Doggington</a>
//               <div class="metadata">
//                 <span class="date">20 minutes ago</span>
//               </div>
//               <div class="text">
//                 Also pizza.
//               </div>
//               <div class="actions">
//                 <a class="reply">Reply</a>
//                 <a class="delete">Delete</a>
//               </div>
//             </div>
//           </div>
//         </div>
//       </div>
//       <div class="comment">
//         <a class="avatar">
//           <img src="http://placehold.it/200x200">
//         </a>
//         <div class="content">
//           <a class="author">Dog Doggington</a>
//           <div class="metadata">
//             <span class="date">2 days ago</span>
//           </div>
//           <div class="text">
//             I think this is a great idea and i am voting on it
//           </div>
//           <div class="actions">
//             <a class="reply">Reply</a>
//             <a class="delete">Delete</a>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <span class="date">20 hours ago</span>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//       </div>
//     </div>
//   </div>
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Pawfin Dog</a>
//       <div class="metadata">
//         <span class="date">15 hours ago</span>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1.5

// Minimal Comments Thread
// 
// Comments can hide extra information unless a user shows intent to interact with a comment.
//
// Markup:
// <div class="ui minimal comments">
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <span class="date">2 days ago</span>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//         <a class="delete">Delete</a>
//       </div>
//     </div>
//     <div class="comments">
//       <div class="comment">
//         <a class="avatar">
//           <img src="http://placehold.it/200x200">
//         </a>
//         <div class="content">
//           <a class="author">Pawfin Dog</a>
//           <div class="metadata">
//             <span class="date">1 day ago</span>
//           </div>
//           <div class="text">
//             I think this is a great idea and i am voting on it
//           </div>
//           <div class="actions">
//             <a class="reply">Reply</a>
//             <a class="delete">Delete</a>
//           </div>
//         </div>
//         <div class="comments">
//           <div class="comment">
//             <a class="avatar">
//               <img src="http://placehold.it/200x200">
//             </a>
//             <div class="content">
//               <a class="author">Dog Doggington</a>
//               <div class="metadata">
//                 <span class="date">20 minutes ago</span>
//               </div>
//               <div class="text">
//                 I think this is a great idea and i am voting on it
//               </div>
//               <div class="actions">
//                 <a class="reply">Reply</a>
//                 <a class="delete">Delete</a>
//               </div>
//             </div>
//           </div>
//           <div class="comment">
//             <a class="avatar">
//               <img src="http://placehold.it/200x200">
//             </a>
//             <div class="content">
//               <a class="author">Dog Doggington</a>
//               <div class="metadata">
//                 <span class="date">20 minutes ago</span>
//               </div>
//               <div class="text">
//                 Also pizza.
//               </div>
//               <div class="actions">
//                 <a class="reply">Reply</a>
//                 <a class="delete">Delete</a>
//               </div>
//             </div>
//           </div>
//         </div>
//       </div>
//       <div class="comment">
//         <a class="avatar">
//           <img src="http://placehold.it/200x200">
//         </a>
//         <div class="content">
//           <a class="author">Dog Doggington</a>
//           <div class="metadata">
//             <span class="date">2 days ago</span>
//           </div>
//           <div class="text">
//             I think this is a great idea and i am voting on it
//           </div>
//           <div class="actions">
//             <a class="reply">Reply</a>
//             <a class="delete">Delete</a>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Dog Doggington</a>
//       <div class="metadata">
//         <span class="date">20 hours ago</span>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//       </div>
//     </div>
//   </div>
//   <div class="comment">
//     <a class="avatar">
//       <img src="http://placehold.it/200x200">
//     </a>
//     <div class="content">
//       <a class="author">Pawfin Dog</a>
//       <div class="metadata">
//         <span class="date">15 hours ago</span>
//       </div>
//       <div class="text">
//         I think this is a great idea and i am voting on it
//       </div>
//       <div class="actions">
//         <a class="reply">Reply</a>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 4.1.6
