// Icon
//
// An icon is a glyph used to represent another concept more simply
//
// Styleguide 2.5

// Content Icons
//
// Icons can represent types of web content
//
// Markup:
// <i class="archive icon"></i>
// <i class="attachment icon"></i>
// <i class="browser icon"></i>
// <i class="bug icon"></i>
// <i class="calendar icon"></i>
// <i class="cart icon"></i>
// <i class="certificate icon"></i>
// <i class="chat icon"></i>
// <i class="cloud icon"></i>
// <i class="code icon"></i>
// <i class="comment icon"></i>
// <i class="dashboard icon"></i>
// <i class="desktop icon"></i>
// <i class="empty calendar icon"></i>
// <i class="external url icon"></i>
// <i class="external url sign icon"></i>
// <i class="file icon"></i>
// <i class="file outline icon"></i>
// <i class="folder icon"></i>
// <i class="folder open icon"></i>
// <i class="folder open outline icon"></i>
// <i class="folder outline icon"></i>
// <i class="help icon"></i>
// <i class="home icon"></i>
// <i class="inbox icon"></i>
// <i class="info icon"></i>
// <i class="info letter icon"></i>
// <i class="legal icon"></i>
// <i class="location arrow icon"></i>
// <i class="mail icon"></i>
// <i class="mail outline icon"></i>
// <i class="map icon"></i>
// <i class="map marker icon"></i>
// <i class="mobile icon"></i>
// <i class="music icon"></i>
// <i class="outline chat icon"></i>
// <i class="outline comment icon"></i>
// <i class="payment icon"></i>
// <i class="photo icon"></i>
// <i class="qr code icon"></i>
// <i class="question icon"></i>
// <i class="rss icon"></i>
// <i class="rss sign icon"></i>
// <i class="setting icon"></i>
// <i class="settings icon"></i>
// <i class="signal icon"></i>
// <i class="sitemap icon"></i>
// <i class="table icon"></i>
// <i class="tablet icon"></i>
// <i class="tag icon"></i>
// <i class="tags icon"></i>
// <i class="tasks icon"></i>
// <i class="terminal icon"></i>
// <i class="text file icon"></i>
// <i class="text file outline icon"></i>
// <i class="time icon"></i>
// <i class="trash icon"></i>
// <i class="url icon"></i>
// <i class="user icon"></i>
// <i class="users icon"></i>
// <i class="video icon"></i>
//
// Styleguide 2.5.1

i.icon.dashboard:before
	content 				"\f0e4"

// User Action Icons
//
// Icons can represent a possible user action
//
// Markup:
// <i class="add icon"></i>
// <i class="add sign box icon"></i>
// <i class="add sign icon"></i>
// <i class="adjust icon"></i>
// <i class="bookmark empty icon"></i>
// <i class="bookmark icon"></i>
// <i class="cloud download icon"></i>
// <i class="cloud upload icon"></i>
// <i class="collapse icon"></i>
// <i class="crop icon"></i>
// <i class="download disk icon"></i>
// <i class="download icon"></i>
// <i class="edit icon"></i>
// <i class="edit sign icon"></i>
// <i class="empty flag icon"></i>
// <i class="exchange icon"></i>
// <i class="expand icon"></i>
// <i class="filter icon"></i>
// <i class="flag icon"></i>
// <i class="fork code icon"></i>
// <i class="forward mail icon"></i>
// <i class="fullscreen icon"></i>
// <i class="hide icon"></i>
// <i class="level down icon"></i>
// <i class="level up icon"></i>
// <i class="off icon"></i>
// <i class="refresh icon"></i>
// <i class="remove circle icon"></i>
// <i class="remove icon"></i>
// <i class="remove sign icon"></i>
// <i class="reorder icon"></i>
// <i class="reply all mail icon"></i>
// <i class="reply mail icon"></i>
// <i class="retweet icon"></i>
// <i class="save icon"></i>
// <i class="screenshot icon"></i>
// <i class="search icon"></i>
// <i class="share icon"></i>
// <i class="share sign icon"></i>
// <i class="sign in icon"></i>
// <i class="sign out icon"></i>
// <i class="tint icon"></i>
// <i class="unhide icon"></i>
// <i class="upload disk icon"></i>
// <i class="upload icon"></i>
//
// Styleguide 2.5.2

i.icon.remove:before
	content 				"\f00d"

// View Action Icons
//
// Icons can represent actions that modify a page view
//
// Markup:
// <i class="block layout icon"></i>
// <i class="column layout icon"></i>
// <i class="grid layout icon"></i>
// <i class="list layout icon"></i>
// <i class="resize full icon"></i>
// <i class="resize horizontal icon"></i>
// <i class="resize small icon"></i>
// <i class="resize vertical icon"></i>
// <i class="sort alphabet descending icon"></i>
// <i class="sort alphabet icon"></i>
// <i class="sort ascending icon"></i>
// <i class="sort attributes descending icon"></i>
// <i class="sort attributes icon"></i>
// <i class="sort descending icon"></i>
// <i class="sort icon"></i>
// <i class="sort order descending icon"></i>
// <i class="sort order icon"></i>
// <i class="zoom in icon"></i>
// <i class="zoom out icon"></i>
//
// Styleguide 2.5.3

// Text Action Icons
//
// Icons can represent actions that modify text
//
// Markup:
// <i class="align center icon"></i>
// <i class="align justify icon"></i>
// <i class="align left icon"></i>
// <i class="align right icon"></i>
// <i class="bold icon"></i>
// <i class="copy icon"></i>
// <i class="cut icon"></i>
// <i class="ellipsis horizontal icon"></i>
// <i class="ellipsis vertical icon"></i>
// <i class="font icon"></i>
// <i class="indent left icon"></i>
// <i class="indent right icon"></i>
// <i class="italic icon"></i>
// <i class="list icon"></i>
// <i class="move icon"></i>
// <i class="ordered list icon"></i>
// <i class="paste icon"></i>
// <i class="print icon"></i>
// <i class="quote left icon"></i>
// <i class="quote right icon"></i>
// <i class="strikethrough icon"></i>
// <i class="subscript icon"></i>
// <i class="superscript icon"></i>
// <i class="text height icon"></i>
// <i class="text width icon"></i>
// <i class="underline icon"></i>
// <i class="undo icon"></i>
// <i class="unlink icon"></i>
// <i class="unordered list icon"></i>
//
// Styleguide 2.5.4

// Media Action Icons
//
// Icons can represent actions that occur on media
//
// Markup:
// <i class="backward icon"></i>
// <i class="eject icon"></i>
// <i class="fast backward icon"></i>
// <i class="fast forward icon"></i>
// <i class="mute icon"></i>
// <i class="pause icon"></i>
// <i class="play circle icon"></i>
// <i class="play icon"></i>
// <i class="play sign icon"></i>
// <i class="shuffle icon"></i>
// <i class="repeat icon"></i>
// <i class="step backward icon"></i>
// <i class="step forward icon"></i>
// <i class="stop icon"></i>
// <i class="unmute icon"></i>
// <i class="volume down icon"></i>
// <i class="volume off icon"></i>
// <i class="volume up icon"></i>
//
// Styleguide 2.5.5

// Object Icons
//
// Icons can represent literal objects
//
// Markup:
// <i class="ambulance icon"></i>
// <i class="anchor icon"></i>
// <i class="barcode icon"></i>
// <i class="lab icon"></i>
// <i class="beer icon"></i>
// <i class="bell outline icon"></i>
// <i class="bolt icon"></i>
// <i class="book icon"></i>
// <i class="briefcase icon"></i>
// <i class="building icon"></i>
// <i class="bullhorn icon"></i>
// <i class="bullseye icon"></i>
// <i class="camera icon"></i>
// <i class="camera retro icon"></i>
// <i class="coffee icon"></i>
// <i class="doctor icon"></i>
// <i class="eraser icon"></i>
// <i class="female icon"></i>
// <i class="fighter jet icon"></i>
// <i class="fire extinguisher icon"></i>
// <i class="fire icon"></i>
// <i class="flag checkered icon"></i>
// <i class="food icon"></i>
// <i class="gamepad icon"></i>
// <i class="gift icon"></i>
// <i class="glass icon"></i>
// <i class="globe icon"></i>
// <i class="hdd icon"></i>
// <i class="headphones icon"></i>
// <i class="hospital icon"></i>
// <i class="key icon"></i>
// <i class="keyboard icon"></i>
// <i class="laptop icon"></i>
// <i class="leaf icon"></i>
// <i class="lemon icon"></i>
// <i class="lightbulb icon"></i>
// <i class="magic icon"></i>
// <i class="magnet icon"></i>
// <i class="male icon"></i>
// <i class="medkit icon"></i>
// <i class="money icon"></i>
// <i class="moon icon"></i>
// <i class="pencil icon"></i>
// <i class="phone icon"></i>
// <i class="phone sign icon"></i>
// <i class="pin icon"></i>
// <i class="plane icon"></i>
// <i class="puzzle piece icon"></i>
// <i class="road icon"></i>
// <i class="rocket icon"></i>
// <i class="shield icon"></i>
// <i class="stethoscope icon"></i>
// <i class="suitcase icon"></i>
// <i class="sun icon"></i>
// <i class="ticket icon"></i>
// <i class="trophy icon"></i>
// <i class="truck icon"></i>
// <i class="umbrella icon"></i>
// <i class="wrench icon"></i>
//
// Styleguide 2.5.6

i.icon.briefcase:before
	content 			"\f0b1"

// Status Indication Icons
//
// Icons can indicate the status of something
//
// Markup:
// <i class="ban circle icon"></i>
// <i class="check icon"></i>
// <i class="check minus icon"></i>
// <i class="check sign icon"></i>
// <i class="empty check icon"></i>
// <i class="exclamation icon"></i>
// <i class="exclamation sign icon"></i>
// <i class="frown icon"></i>
// <i class="heart empty icon"></i>
// <i class="heart icon"></i>
// <i class="loading icon"></i>
// <i class="lock icon"></i>
// <i class="meh icon"></i>
// <i class="ok circle icon"></i>
// <i class="ok icon"></i>
// <i class="ok sign icon"></i>
// <i class="smile icon"></i>
// <i class="star empty icon"></i>
// <i class="star half empty icon"></i>
// <i class="star half icon"></i>
// <i class="star icon"></i>
// <i class="thumbs down icon"></i>
// <i class="thumbs down outline icon"></i>
// <i class="thumbs up icon"></i>
// <i class="thumbs up outline icon"></i>
// <i class="unlock alternate icon"></i>
// <i class="unlock icon"></i>
// <i class="warning icon"></i>
//
// Styleguide 2.5.7

// Symbol Icons
//
// Icons can represent common symbols
//
// Markup:
// <i class="angle down icon"></i>
// <i class="angle left icon"></i>
// <i class="angle right icon"></i>
// <i class="angle up icon"></i>
// <i class="arrow box down icon"></i>
// <i class="arrow box right icon"></i>
// <i class="arrow box up icon"></i>
// <i class="arrow down icon"></i>
// <i class="arrow left icon"></i>
// <i class="arrow right icon"></i>
// <i class="arrow up icon"></i>
// <i class="asterisk icon"></i>
// <i class="triangle down icon"></i>
// <i class="triangle left icon"></i>
// <i class="triangle right icon"></i>
// <i class="triangle up icon"></i>
// <i class="arrow down icon"></i>
// <i class="arrow left icon"></i>
// <i class="arrow right icon"></i>
// <i class="arrow up icon"></i>
// <i class="arrow sign down icon"></i>
// <i class="arrow sign left icon"></i>
// <i class="arrow sign right icon"></i>
// <i class="arrow sign up icon"></i>
// <i class="arrow up icon"></i>
// <i class="circle arrow left icon"></i>
// <i class="circle arrow right icon"></i>
// <i class="circle arrow up icon"></i>
// <i class="circle blank icon"></i>
// <i class="circle down arrow icon"></i>
// <i class="circle icon"></i>
// <i class="double angle down icon"></i>
// <i class="double angle left icon"></i>
// <i class="double angle right icon"></i>
// <i class="double angle up icon"></i>
// <i class="hand down icon"></i>
// <i class="hand left icon"></i>
// <i class="hand right icon"></i>
// <i class="hand up icon"></i>
// <i class="long arrow down icon"></i>
// <i class="long arrow left icon"></i>
// <i class="long arrow right icon"></i>
// <i class="long arrow up icon"></i>
// <i class="minus icon"></i>
// <i class="minus sign alternate icon"></i>
// <i class="minus sign icon"></i>
// <i class="sign icon"></i>
//
// Styleguide 2.5.8

// Currency Icons
//
// Icons can represent units of currency
//
// Markup:
// <i class="dollar icon"></i>
// <i class="euro icon"></i>
// <i class="pound icon"></i>
// <i class="rupee icon"></i>
// <i class="won icon"></i>
// <i class="yen icon"></i>
// <i class="yuan icon"></i>
//
// Styleguide 2.5.9

// Brand Icons
//
// Icons can represent logos to common brands
//
// Markup:
// <i class="adn icon"></i>
// <i class="android icon"></i>
// <i class="apple icon"></i>
// <i class="bitbucket icon"></i>
// <i class="bitbucket sign icon"></i>
// <i class="bitcoin icon"></i>
// <i class="css3 icon"></i>
// <i class="dribbble icon"></i>
// <i class="dropbox icon"></i>
// <i class="facebook icon"></i>
// <i class="facebook sign icon"></i>
// <i class="facetime video icon"></i>
// <i class="flickr icon"></i>
// <i class="foursquare icon"></i>
// <i class="github alternate icon"></i>
// <i class="github icon"></i>
// <i class="github sign icon"></i>
// <i class="gittip icon"></i>
// <i class="google plus icon"></i>
// <i class="google plus sign icon"></i>
// <i class="h sign icon"></i>
// <i class="html5 icon"></i>
// <i class="instagram icon"></i>
// <i class="linkedin icon"></i>
// <i class="linkedin sign icon"></i>
// <i class="linux icon"></i>
// <i class="maxcdn icon"></i>
// <i class="pinterest icon"></i>
// <i class="pinterest sign icon"></i>
// <i class="renren icon"></i>
// <i class="skype icon"></i>
// <i class="stackexchange icon"></i>
// <i class="trello icon"></i>
// <i class="tumblr icon"></i>
// <i class="tumblr sign icon"></i>
// <i class="twitter icon"></i>
// <i class="twitter sign icon"></i>
// <i class="vk icon"></i>
// <i class="weibo icon"></i>
// <i class="windows icon"></i>
// <i class="xing icon"></i>
// <i class="xing sign icon"></i>
// <i class="youtube icon"></i>
// <i class="youtube play icon"></i>
// <i class="youtube sign icon"></i>
//
// Styleguide 2.5.10

// Disabled Icons
//
// An icon can show that it is disabled
//
// Markup:
// <i class="disabled users icon"></i>
//
// Styleguide 2.5.11

// Sized Icons
//
// An icon can vary in size
//
// .tiny - tiny
// .small - small
// .large - large
// .huge - huge
// .massive - massive
//
// Markup:
// <i class="{$modifiers} home icon"></i>
//
// Styleguide 2.5.12

.tiny.icon
	font-size 			0.6em

// Link Icons
//
// An icon can be formatted as a link
//
// Markup:
// <i class="close icon link icon"></i>
// <i class="help circle icon link icon"></i>
//
// Styleguide 2.5.13

.link.icon
	text-decoration 			none

// Flipped Icons
//
// An icon can be flipped
//
// Markup:
// <i class="horizontally flipped cloud icon"></i>
// <i class="vertically flipped cloud icon"></i>
//
// Styleguide 2.5.14

// Rotated Icons
//
// An icon can be rotated
//
// Markup:
// <i class="clockwise rotated cloud icon"></i>
// <i class="counterclockwise rotated cloud icon"></i>
//
// Styleguide 2.5.15

// Circular Icons
//
// An icon can be formatted to appear circular
//
// Markup:
// <i class="circular users icon"></i>
// <i class="circular teal users icon"></i>
// <i class="circular inverted users icon"></i>
// <i class="circular inverted teal users icon"></i>
//
// Styleguide 2.5.16

// Square Icons
//
// An icon can be formatted to appear square
//
// Markup:
// <i class="square users icon"></i>
// <i class="square teal users icon"></i>
// <i class="square inverted users icon"></i>
// <i class="square inverted teal users icon"></i>
//
// Styleguide 2.5.17

// Coloured Icons
//
// An icon can be formatted with different colors
//
// Markup:
// <i class="black users icon"></i>
// <i class="blue user icon"></i>
// <i class="red users icon"></i>
// <i class="green user icon"></i>
// <i class="yellow users icon"></i>
// <i class="purple chat icon"></i>
// <i class="teal comment icon"></i>
//
// Styleguide 2.5.18

i.yellow.icon
	color 			$yellow!important

// Inverted Icons
//
// An icon can have its colors inverted for contrast
//
// Markup:
// <i class="inverted black users icon"></i>
// <i class="inverted blue user icon"></i>
// <i class="inverted red users icon"></i>
// <i class="inverted green user icon"></i>
// <i class="inverted purple chat icon"></i>
// <i class="inverted teal comment icon"></i>
//
// Styleguide 2.5.19

// Floated Icons
//
// An icon may be floated.
//
// .left - left
// .right - right
//
// Markup:
// <div class="ui segment">
// 	<i class="{$modifiers} floated arrow icon"></i>
// 	<i class="{$modifiers} floated arrow icon"></i>
// </div>
//
// Styleguide 2.5.20

i.floated.icon

	&.left
		float 		left

	&.right
		float 		right

.ui.header

	i.floated.icon
		line-height 3