// Progress
//
// Progress bars show the percent of a task complete
//
// .active - A progress bar can show activity
// .successful - A progress bar can show success
// .failed - A progress bar can show failure
// .disabled - A progress bar can be disabled
//
// Markup:
// <div class="ui {$modifiers} progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
//
// Styleguide 2.10

// Attached Progress bars
//
// A progress bar can show progress of an element
//
// Markup:
// <div class="ui top attached active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui attached segment">
//   <p>La la la la</p>
// </div>
// <div class="ui bottom attached active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
//
// Styleguide 2.10.1

// Colours Progress bars
//
// Can have different colors:
//
// Markup:
// <div class="ui blue active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui black active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui green active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui red active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui yellow active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui blue active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui purple active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui teal active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
//
// Styleguide 2.10.2

.ui.yellow.progress .bar
	background-color 		$yellow

// Striped Progress bars
//
// A progress bar can be striped
//
// Markup:
// <div class="ui striped active progress">
//   <div class="bar" style="width: 100%;"></div>
// </div>
// <div class="ui striped progress">
//   <div class="bar" style="width: 30%;"></div>
// </div>
//
// Styleguide 2.10.3