// Step
//
// Steps show the current activity in a series of consecutive activities.
//
// .active - A step can be highlighted as active
// .disabled - A step can show that it cannot be selected
//
// Markup:
// <div class="ui steps">
//   <div class="ui {$modifiers} step">
//     Shipping
//   </div>
// </div>
//
// Styleguide 2.12

// Grouped Steps
//
// A set of steps
//
// Markup:
// <div class="ui steps">
//   <div class="ui step">
//     Shipping
//   </div>
//   <div class="ui active step">
//     Billing
//   </div>
//   <div class="ui disabled step">
//     Confirm Order
//   </div>
//   <div class="ui disabled step">
//     Complete
//   </div>
// </div>
//
// Styleguide 2.12.1

// Sized Steps
//
// Steps can have different sizes
//
// Markup:
// <div class="ui small steps">
//   <div class="ui active step">
//     Shipping
//   </div>
//   <div class="ui disabled step">
//     Billing
//   </div>
//   <div class="ui disabled step">
//     Confirm Order
//   </div>
//   <div class="ui disabled step">
//     Complete
//   </div>
// </div>
// <div class="ui large steps">
//   <div class="ui active step">
//     Shipping
//   </div>
//   <div class="ui disabled step">
//     Billing
//   </div>
//   <div class="ui disabled step">
//     Confirm Order
//   </div>
//   <div class="ui disabled step">
//     Complete
//   </div>
// </div>
//
// Styleguide 2.12.2

// Fluid Steps
//
// Steps can be divided evenly inside their parent
//
// Markup:
// <div class="ui four steps">
//   <div class="ui active step">
//     Shipping
//   </div>
//   <div class="ui disabled step">
//     Billing
//   </div>
//   <div class="ui disabled step">
//     Confirm Order
//   </div>
//   <div class="ui disabled step">
//     Complete
//   </div>
// </div>
//
// Styleguide 2.12.3