// Colours
// 
// These are the colours used throughout the app.
// 
// #ffffff - $white
// #000000 - $black
// #f4f4f4 - $very-light-grey
// #d4d4d4 - $light-grey
// #ababab - $grey
// #97989d - $dark-grey
// #2f323b - $very-dark-grey
// #5BBD72 - $green
// #ff6b6b - $red
// #f05940 - $orange
// #f8cb00 - $yellow
// #65c3df - $blue
// #a48ad4 - $purple
// #00b5ad - $teal
// #303342 - $cobalt
// #1e202c - $dark-cobalt
// #f3565d - $graph-red
// #fc9d9b - $graph-pink
// #facdae - $graph-yellow
// #9fc2c4 - $graph-green
// #8297a8 - $graph-blue
// #53aabd - $mono-graph-green1
// #54b5c5 - $mono-graph-green2
// #53bbc4 - $mono-graph-green3
// #3eb6c6 - $mono-graph-green4
// #288fa0 - $mono-graph-green5
// 
// Markup:
// <div style="background-color:{$modifiers}; border: 2px solid #e9e9e9; height: 45px; width: 45px;"></div>
// 
// Styleguide 1.2


$white =				#ffffff
$black =				#000000

//Greys

$very-light-grey =		#f4f4f4
$light-grey =			#d4d4d4
$grey =					#ababab
$dark-grey =			#97989d
$very-dark-grey =		#2f323b

// Colours

$green =				#45b7af
$red =					#ff6b6b
$yellow =				#f8cb00
$orange =				#f05940
$blue =					#65c3df
$purple =				#a48ad4
$teal =					#00b5ad
$cobalt =				#303342
$dark-cobalt =			#1e202c

// Graph colours

$graph-red =			#f3565d
$graph-pink =			#fc9d9b
$graph-yellow =			#facdae
$graph-green =			#9fc2c4
$graph-blue =			#8297a8

// Monotone graph colours

$mono-graph-green1 =	#53aabd
$mono-graph-green2 =	#54b5c5
$mono-graph-green3 =	#53bbc4
$mono-graph-green4 =	#3eb6c6
$mono-graph-green5 =	#288fa0

// Application-specific colours

$body-background-colour =	$very-light-grey
$text-colour =				$very-dark-grey
$light-text-colour =		$light-grey

$primary-colour =			$dark-cobalt

$inverted-background-colour =	$cobalt
$inverted-highlight-colour =	$dark-cobalt
$inverted-text-colour =			$dark-grey

body
	background-color 			$body-background-colour
	color 						$text-colour