// Typography
// 
// Fonts etc.
//
// Markup:
// <h2>The quick brown fox jumps over the lazy dog</h2>
// <p><i>The quick brown fox jumps over the lazy dog</i></p>
// <p>The quick brown fox jumps over the lazy dog</p>
//
// Styleguide 1.4

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400")

$body-font =		"Open Sans", sans-serif

body
	font-family 	$body-font