.page-container.top.margin(data-ng-controller='TimesheetsController')

	.ui.page.grid
		.column
			.ui.huge.icon.message
				i.smile.icon
				.content
					.header Timesheets Page
					| Ready to start coding!